[Config]
Site=S14
Perimetre=SINISTRE
Metier=IARD  
Zone=Z14
Nom=Dijon
PlanNum=214

##########
# Folder #
##########
[Folder]
TEST1_SWITCH=Resources\Switches\Cisco\DNs\%Perimetre%
TEST2_SWITCH=Resources\Switches\Cisco\DNs\%Perimetre%\%Metier%
TEST3_SWITCH=Resources\Switches\SVI\DNs\%Perimetre%
TEST4_SWITCH=Resources\Switches\SVI\DNs\%Perimetre%\%Metier%
VAG_BANDEAU_PERIMETRE=Resources\Agent Groups\Bandeau\%Perimetre%
VAG_SUPERVISION_PERIMETRE=Resources\Agent Groups\Supervision\%Perimetre%
VAG_BANDEAU_METIER=Resources\Agent Groups\Bandeau\%Perimetre%\%Metier%
VAG_SUPERVISION_METIER=Resources\Agent Groups\Supervision\%Perimetre%\%Metier%
VAG_BANDEAU=Resources\Agent Groups\Bandeau\SINISTRE\%Metier%\%Site%
VAG_SUPERVISION=Resources\Agent Groups\Supervision\SINISTRE\%Metier%\%Site%
TEST1_PLACE=Environment\Places\%Perimetre%
TEST2_PLACE=Resources\Places\%Perimetre%
TEST3_PLACE=Resources\Places\%Perimetre%\%Metier%

#########
# Place #
#########
[PL_%Site%] 
Folder=Resources\Places\%Perimetre%\%Metier%

[PL_TOTO] 
Folder=Environment\Places\%Perimetre%\%Metier%

#########
# Skill #
#########
[SK_T_Site_%Site%]
Folder=Resources\Skills\T_Site

#################
# Virtual Queue #
#################
[VQ_VQ_BANDEAU_IARD_PART_%Site%]
Folder=Resources\Switches\Cisco\DNs\%Perimetre%\%Metier%

[VQ_VQ_BANDEAU_IARD_PART_%Site%]
Folder=Resources\Switches\SVI\DNs\%Perimetre%\%Metier%

[VQ_VQ_BANDEAU_IARD_AGRI_%Site%]
Folder=Resources\Switches\Cisco\DNs\%Perimetre%\%Metier%

###################
# Group of Queues #
###################

[GQ_VQ_BANDEAU_IARD_%Site%]
Folder=Resources\DN Groups\SINISTRE\IARD
VQ=VQ_BANDEAU_IARD_PART_%Site%_Cisco;VQ_BANDEAU_IARD_AGRI_%Site%_Cisco;VQ_BANDEAU_IARD_PART_%Site%_SVI

[GQ_VQ_BANDEAU_IARD]   
VQ=VQ_BANDEAU_IARD_PART_%Site%_Cisco;VQ_BANDEAU_IARD_AGRI_%Site%_Cisco;VQ_BANDEAU_IARD_PART_%Site%_SVI






[AG_CSPROXY%Site%]
Person=cs-proxy.s14
Folder=Access Groups\CSPROXY

[ZZ_A]

[ZZ_B]

[ZZ_C]

[VAG_%Site%]
Folder=Agent Groups\Bandeau\SINISTRE\%Metier%\%Site%
Script=Skill("T_Site_%Site%") > 0 & Skill("T_Cat_A") > 0
NoAccess=CSPROXYS01;CSPROXYS02
#<-- liste des Acces Group à mettre en NoAccess : penser à modifier pour chaque nouveau site... ? ou bien auto tous les CSPROXY différents du site créé ?

# Si pas de Folder => mise à jour d'un groupe existant
[VAG_X13]
NoAccess=CSPROXYS01;CSPROXYS02;CSPROXY%Site%


[TL_Connections_SINISTRE_IARD_%Site%]
Folder=Transactions\IARD
Section1=Cle1=Value1
Section1=Cle2=Value2
Section2=Cle3=Value3

[TL_TL1]
Section2=Cle1=%Value%;%Site%
Section3=Cle3=Value3


#Une personne avec son access group
[PE_csproxy.%Site%]
FirstName=csproxy
LastName=%Site%
EmployeeId=csproxy.%Site%
Folder=Persons\CSPROXY

[RP_%PlanNum%709]
Alias=%Site%_DEF_RP_
Folder=Switches\Cisco\DNs\IARD
Categorie_Type=*
Metier=%Metier%
Perimetre=%Perimetre%
Zone=%Zone%
smloc=SM_S99

[RP_%PlanNum%701]
Alias=%Site%_STD_RP_
Folder=Switches\Cisco\DNs\IARD
Default=%PlanNum%709
Categorie_Type=*
Metier=%Metier%
Perimetre=%Perimetre%
Zone=%Zone%
smloc=SM_S99

#ERP a supprimer si évol OCEAN réalisée
[ERP_%PlanNum%721]
Alias=%Site%_ERP-1_
Folder=Switches\Cisco\DNs\IARD
epn=%Site%
association=153743812


#CCPulse
[CCP_CCPulse_%Site%_MA]
Folder=Applications\Supervision
Template=CCPulse_800
Storage=\\%Site%ste350\ccpulse\%Site%\MA
StatServer=StatServerCCP;StatServer_URS

[HOS_%Site%ste350]
Folder=Hosts\UGS
IPAddress=192.168.1.10
SCS=SCS

#CS Proxy
[CSP_CSProxy_%Site%]
Folder=Applications\Supervision
Template=CSProxy_8
Host=S14ste350
User=csproxy.S14

# Ajout options à StatServer (Filtres)
[OPT_StatServerCCP]
Filters=Filtre3=Value3
Filters=Filtre4=Value4=4 & Value5=5








